Repository gardener/gardener-discovery-server, pull requests merged in 2024-09, with the labels that each got.

#60 [GEP-26] Serve workload identity discovery documents
  Makefile
  README.md
  charts/discovery-server/charts/runtime/templates/configmap-workload-identity.yaml
  charts/discovery-server/charts/runtime/templates/deployment.yaml
  charts/discovery-server/charts/runtime/values.yaml
  cmd/discovery-server/app/app.go
  cmd/discovery-server/app/options/options.go
  internal/handler/handler.go
  internal/handler/handler_suite_test.go
  internal/handler/handler_test.go
  internal/handler/openidmeta/handler.go
  internal/handler/openidmeta/handler_test.go
  internal/handler/workloadidentity/handler.go
  internal/handler/workloadidentity/handler_suite_test.go
  internal/handler/workloadidentity/handler_test.go
  internal/reconciler/openidmeta/metadata.go
  internal/reconciler/openidmeta/metadata_test.go
  internal/utils/utils.go
  internal/utils/utils_test.go
  skaffold.yaml
  test/e2e/create_enable_delete_test.go
Labels: size/XL, area/security, area/ipcei, kind/enhancement, cla: yes, lgtm, approved, ipcei/workload-identity

#62 Mount workload-identity files as readonly
  charts/discovery-server/charts/runtime/templates/deployment.yaml
Labels: kind/enhancement, size/XS, cla: yes, lgtm, approved

#63 [GEP-26] Store workload identity documents in secret
  charts/discovery-server/charts/runtime/templates/deployment.yaml
  charts/discovery-server/charts/runtime/templates/secret-workload-identity.yaml
Labels: area/security, area/ipcei, kind/enhancement, size/S, cla: yes, lgtm, approved, ipcei/workload-identity
